
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}
.calculator {
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(144, 175, 237, 0.5);
    
}
input {
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(234, 218, 218, 0.2);
    font-size: 40px;
    font-family: "Bitcount Prop Single", system-ui;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
}
input::placeholder{
    color: #ffffff;
    
}
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 83% 17% 64% 36% / 35% 18% 82% 65% ;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
.equalBtn{
    background-color: rgba(238, 240, 244, 0.2);
    box-shadow: -8px -8px 15px rgba(0, 238, 251, 0.2);
}
.operator {
    box-shadow: -8px -8px 15px rgba(0, 238, 251, 0.2);
}
.operatorRed {
    box-shadow: -8px -8px 15px rgba(203, 0, 58, 0.2);
}
#inputBox {
    caret-color: transparent;
}
